-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.


- content_for :head do
  = include_javascripts :home
.span-15.append-2
  #aspect_stream_container
    = render 'aspect_stream',
      :aspect => @aspect,
      :aspect_ids => @aspect_ids,
      :posts => @posts

.span-7.leftBar.last
  #home_user_badge
    = owner_image_link
    %h3{:style => "position:relative;"}
      = current_user.name
      .description
        = link_to current_user.diaspora_handle, person_path(current_user.person)
  - #cloud add event
  %a.create_event Create an event
  #event_form{:style=>"display:none;"}
    = form_for 'event', :url => events_path do |f|
      %p
        = f.label :When?, :for => "event_from_date"
        = f.text_field :from_date, :class => 'datepicker'
      %p
        = f.label "When Time?", :for => "event_from_time"
        = f.text_field :from_time, :class => 'timepicker'
      %p
        = f.label :To?, :for => "event_to_date"
        = f.text_field :to_date, :class => 'datepicker'
      %p
        = f.label "To Time?", :for => "event_to_time"
        = f.text_field :to_time, :class => 'timepicker'
      %p
        = f.label :Where?, :for => "event_address"
        = f.text_field :address
      %p
        = f.label :Content, :for => "event_content"
        = f.text_area :content
        <input type='hidden' value="#{@aspect_ids.join(',')}" name='aspect_ids' id='event_aspect_ids'>
      %p
        = f.submit "Create an event"
  #event_listings
    = render :partial => 'event', :locals => {:@events => @events}
    
  .section
    .title
      = image_tag('/images/icons/bookmark.png')
      %h5
        Diaspora Bookmarklet
    .content
      != t('bookmarklet.explanation', :link => link_to(t('bookmarklet.explanation_link_text'), bookmarklet))

  .section
    .title
      = image_tag('/images/icons/cubbies.png')
      %h5
        Connect to Cubbi.es
    .content
      Cubbi.es is the first Diaspora application under development.
      = link_to "Follow the instructions to get started", token_path

  - if @invites > 0
    .section
      .title

        = image_tag('/images/icons/plus.png')
        %h5
          .right
            = t('shared.invitations.invitations_left', :count => @invites)
          = t('shared.invitations.invite_your_friends')
      .content
        = render "shared/invitations", :invites => @invites

  %hr

  #aspect_listings.section
    = render 'aspects/aspect_listings', :aspects => @aspects

  - if @invites <= 0
    .section.invite_friends
      %h4= t('shared.invitations.invite_your_friends')
      = render "shared/invitations", :invites => @invites